extends ./layout.jade
block contenido
	div(class="col-md-5 center-block text-center quitarfloat espacioarriba fondo")
		img(src="/imgs/icono.png")
		h3(class="rojoclaro") Tu Proyecto
		nav
			a(class="col-md-6" href="formulario/registro") Registrarse
			a(class="col-md-6" href="formulario/iniciarsesion") Iniciar sesion