.espacioarriba{
	margin-top: 100px;
}
.espacioarriba2{
	margin-top: 25px;	
}
.quitarfloat{
	float: none;
}
.quitarmargen{
	margin-right: 0px;
}
.grisclaro{
	color:#ECEFF1;
}
.fondo{
	background-color: #ECEFF1;
}
.fondo2{
	background-color: #D32F2F;	
}

.grisoscuro{
	color:#616161;
}
.azult1{
	color: #1678FF;
}
.azult2{
	color: #00098E;
}
.rojoclaro{
	color:#F44336;
}
.rojooscuro{
	color:#D32F2F;
}
img{
	max-width: 300px;
}
.alcentro{
	text-align: center;	
}
.aladerecha{
	text-align: right;		
}
.borde{
	border: thin;
}
.borderedondo{
	border-radius: 5px;
}
.bordesemiredondo{
	border-radius: 25px;	
}

a:hover{
	color: #ECEFF1;
	background-color:#00FFFF;	
	
}
a:active{
	color: #ECEFF1;
	background-color:#FFFFFF;	
}





























