extends ../layout.jade
block contenido
	div(class="col-md-4 center-block text-center quitarfloat espacioarriba fondo")
		h3(class="rojoclaro") Inicio de sesion




		nav()
			a(class="col-md-6" href="/") Inicio
			a(class="col-md-6" href="/formulario/registro") Registro