extends ../layout.jade
block contenido
	div(class="col-md-3 center-block text-center quitarfloat espacioarriba fondo")
		h2(class="rojoclaro") Registro Exitoso
	div(class="col-md-4 center-block quitarfloat")
		nav(class="text-center")
			a(class="" href="/	 ") Volver a la pagina de inicio
			
		