extends ../layout.jade
block contenido
	div(class="col-md-5 center-block text-center quitarfloat espacioarriba fondo") 
		label= persona.usuario
	div(class="col-md-5 center-block text-center quitarfloat espacioarriba fondo")
		label= persona.nombre+" "+persona.apellido