extends ../layout.jade
block contenido
	div(class="col-md-5 left-block text-center  espacioarriba fondo") 
		p usuario
		-var x=persona.usuario.toUpperCase()
		label=x
	div(class="col-md-5 left-block text-center  espacioarriba fondo")
		p nombre
		-var x=persona.nombre.toUpperCase()+" "+persona.apellido.toUpperCase()
		label= x

	