extends ../layout.jade
block contenido
	div(class="col-md-4 col-sm-5 col-xs-6 borde borderedondo  quitarfloat espacioarriba fondo")
		div 
			h7=nombre.toUpperCase()
		div
			label Creador:    
			label= creador
		div
			label Descripcion :
			label=descripcion
		div
			label Colaboradores :
			each item in cols
				p item
		div
			label Tareas :
			each item in tareas
				label item
	div(class="col-md-4  left-block text-center  quitarfloat espacioarriba ")
		nav
			a(class="col-md-6 col-xs-10 grisclaro borde borderedondo center-block quitarfloat" href="/cliente") volver a la pagina anterior
	
	
			a(class="col-md-6 col-xs-10 grisclaro borde borderedondo center-block quitarfloat" href="/cliente/proyecto/nuevatarea/#{nombre}") Nueva tarea
			a(class="col-md-6 col-xs-10 grisclaro borde borderedondo center-block quitarfloat" href="/cliente/nuevacolaborador") Agregar Colaborador
					
					
				